<h1><%if current_user %>Welcome <%=current_user.username%><%end%></h1>
<h1>Are you ready to play assassins?</h1>
<button>Join existing team</button>

<a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= client_id %>">Click here</a> to begin!</a>
