<h2> Join the game! </h2>

<h2> If you join the game and back out, please notify us by email or slack </h2>
<p> Areeeee you ready?!! </p>

<form action='/joined' method='post'>
  <input type='text' id='bio' placeholder="Write a short bio here!"></input>
  <input type='submit' id='join-game' value='Join Game!'></input>
</form>
